body {
  background-image: url(ao.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main1 {
  background-attachment: fixed;
  background-color: #ffffff99;

  border-radius: 50px;
  margin: 100px 10px 30px 500px;
  padding: 5px 10px;
  width: 500px;
  height: 90px;
  text-align: center;
}

#wrap {
  width: 1192px;
  height: 600px;
  margin: 100px 150px;
  background-color: #ffffff99;
  background-attachment: fixed;
}
.item {
  width: 780px;
  height: 480px;
  margin: 50px 350px 50px 350px;
  background-color: #ffffff99;
  position: static;
}

.box {
  margin: 100px 100px;
  padding: 5px 10px;
}
